    <div class="card-body">
      <section class="card-header">
       <div class="data-toggle="tooltip" data-placement="top" title="About User"">
           <%= link_to user_path(post.user.id),class: 'nav-link px-2 text-black' do%>
            <% if comment.user.avatar.attached? %>
              <%= image_tag comment.user.avatar, class: 'border border-2 rounded-circle', width: '30px', height: '30px'%> 
            <% end %>
            <%= comment.user.name %>
          <% end %>
       </div>
      </section>

        <div class="mt-2 mb-3">
          <%= sanitize comment.body%>
        </div>

        <small><time>
          <%= comment.created_at.strftime('%Y-%m-%d %H:%M') %>
        </time></small>
      </section>
        <%if policy(comment).edit? %>
         <%= link_to 'Edit', edit_post_comment_path(post, comment), class: 'btn btn-secondary btn-sm'%> 
        <% end %>
        <%if policy(comment).destroy? %>
          <%= button_to "Delete", post_comment_path(post, comment), class: 'btn btn-danger btn-sm', method: :delete %>
        <% end %>
    </div>
